* {
    margin: 0px;
    padding: 0px;
}

#banner {
    background-color: #f4f3f0;
    padding: 30px 300px 30px 300px;
    width: 100%;
    position: fixed;
    top: 0px;
}

#banner img {
    width: 250px;
    float: center;
    margin-left: 400px;
}

#banner button {
    background-color: #ffd6ee; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

#container {
    display: grid;
    place-items: center;
}

.ls-produto {
    width: 700px;
    margin-top: 350px;
}

#lsQuantidade {
    width: 700px;
    margin-top: 106px;
    display: none;
}

.produto {
    border: solid #f4f3f0 3px;
    width: 200px;
    height: 290px;
    float: left;
    margin: 12px;
    cursor: pointer;
    /* border-color: aqua; */
}

.produto-selecionado {
    border-color: #ffd6ee;
}

.produto img {
    width: 100%;
    height: 70%;
}

.produto .nome {
    background-color: #ffd6ee;
    color: #e44c58;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto .valor {
    display: flex;
    align-items: center;
    height: 15%;
    padding-left: 10px;
}

#bt-fixo,
#bt-fixo span {
    background-color: #ffd6ee;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid black 3px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}

#bt-fixo span {
    width: 20px;
    height: 20px;
    bottom: 95px;
    background-color: #ffd6ee;
    color: black;
}

@media (max-width: 700px) {
    #banner {
        padding: 30px 30px 30px 30px;
    }

    #bt-fixo {
        right: 30px;
    }
}

table {
    width: 100%;
    margin-top: 250px;
}

tr {
    height: 100px;
    background-color: #ffd6ee;
    text-align: center;

}

tr span {
    background-color: #e44c58;
    color: white;
    height: 100%;
    padding: 6%;
    margin-right: 2px;
    margin-left: 2px;
    cursor: pointer;
    float: left;
    width: 20px;
}

label {
    font-size: larger;
}

#nome {
    background-color: #ffd6ee;
    width: 70%;
    height: 30px;
    border: none;
}

#bt-enviar {
    background-color: #e44c58;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}